name: smartdada2-tests
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  code_style:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: smartdada2
          environment-file: smartdada2_env.yaml
      - run: pycodestyle $(git ls-files "*.py")

  test_coda:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: smartdada2
          environment-file: smartdada2_env.yaml
      - run: |
          pip install -e .
          cd smartdada2/testing
          python -m unittest fastq_reader_tests

  # fastqreader_tests:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: conda-incubator/setup-miniconda@v2
  #       with:
  #         activate-environment: smartdada2
  #         environment-file: smartdada2_env.yaml
  #     - uses: actions/setup-python@v4
  #       with:
  #         python-version: '3.10'
  #     - run: |
  #         pip install -e .
  #         cd smartdada2/testing
  #         python -m unittest fastq_reader_tests

  # test_max_expected_error:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: conda-incubator/setup-miniconda@v2
  #       with:
  #         # activate-environment: smartdada2
  #         environment-file: smartdada2.yaml
  #     - run: |
  #         pip install -e .
  #         cd smartdada2/testing
  #         python -m unittest test_GetMaxEE

  # test_trim_parameters:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: conda-incubator/setup-miniconda@v2
  #       with:
  #         # activate-environment: smartdada2
  #         environment-file: smartdada2.yaml
  #     - run: |
  #         pip install -e .
  #         cd smartdada2/testing
  #         python -m unittest test_GetTrimParameters
